<script>
    document.addEventListener("localsaverestored", () => {
        console.log("The Local Save Restoration has been initiated.");
    });

    function downloadLocalStorageSave(save_key) {
        let data = JSON.parse(localStorage.getItem(save_key));
        let blob = new Blob([JSON.stringify(data)], {type: "application/json"});
        let url = URL.createObjectURL(blob);
        let a = document.createElement('a');
        a.href = url;
        a.download = `${data.name}.json`;
        document.body.appendChild(a);
        a.click();
        window.URL.revokeObjectURL(url);
    }

    // function to upload a savegame into local storage
    function restoreLocalStorageSave(save_key, file_id, overwrite = false) {
        if (overwrite && !window.confirm("Do you want to overwrite your save by restoring the current save?")) {
            return;
        }

        let file_input = document.getElementById(file_id);
        let file = file_input.files[0];
        let reader = new FileReader();
        console.log("Restore save: ", save_key);
        reader.onload = function(e) {
            let data = JSON.parse(e.target.result);
            localStorage.setItem(save_key, JSON.stringify(data));

            // trigger the localsaverestored event
            htmx.trigger(file_input, "localsaverestored");
        }
        reader.readAsText(file);
    }
</script>
<div class="description">
    <div>
    This is the Import/Export menu. Select a savegame slot from below. 
    <br><br>
    Click Restore: To import a local save into the selected slot. Can overwrite an existing save.
    <br>
    Click Download: To export the game in the selected slot as a local download. 
    <br>
    </div>
</div>
<div class="save-list-container" style="margin: auto;">
<div class="save-list">
    <% for (let i = (locals.page ? page : 0)*10; i < (locals.page ? page+1 : 1)*10; i++) { %>
        <div class="save-entry">
            <span style="flex-grow: 1;">Slot <%= i %></span>
            <input type="file" hidden
                id="file_<%= i %>"
                onchange="restoreLocalStorageSave('save<%= i %>', 'file_<%= i %>',
                <% if (saveData[`save${i}`]) { %> <%= true %> <% } else { %> <%= false %> <% }%>)"
                hx-post
                hx-trigger="localsaverestored"
                hx-ext="submitlocalstorage"
                hx-target="#content"
                hx-swap="innerHTML"
            />
            <label class="save-file-input" for="file_<%= i %>" style="flex-grow: 1;"><%= savesRestoreText %></label>
            <% if (saveData[`save${i}`]) { %>
                <button 
                    style="flex-grow: 1;"
                    onclick="downloadLocalStorageSave('save<%= i %>')"
                > 
                    <%= savesDownloadText %>
                </button>
                <!-- <% console.log(locals) %> -->
                <span class="save-name-label" style="flex-grow: 1;"><%= saveData[`save${i}`].name %></span>
            <% } %>
        </div>
    <% }; %>
</div>
</div>
<div style="display:none">
    <h2 id="header" hx-swap-oob="true">
        Import/Export Menu
    </h2>
</div>
<div class="pagination">
    <button 
        hx-post="/local_saves/0"
        hx-target="#content"
        hx-swap="innerHTML"
        hx-push-url="true"
        hx-ext="submitlocalstorage"
    ><</button>
    <% for (let j = 0; j < 5; j++) { %>
        <button 
            hx-post="/local_saves/<%= j%>"
            hx-target="#content"
            hx-swap="innerHTML"
            hx-push-url="true"
            hx-ext="submitlocalstorage"
        >
            <%= j + 1 %>
        </button>
    <% }; %>
    <button 
        hx-post="/local_saves/4"
        hx-target="#content"
        hx-swap="innerHTML"
        hx-push-url="true"
        hx-ext="submitlocalstorage"
    >></button>
</div>
<div class="response">
    <button
        hx-get="/"
        hx-target="#content"
        hx-swap="innerHTML"
        hx-push-url="true"
    > 
        <%= savesReturnToGameText %>
    </button>
</div>
