<script>
    document.addEventListener("localsaverestored", () => {
        console.log("The Local Save Restoration has been initiated.");
    });

    function downloadLocalStorageSave(save_key) {
        let data = JSON.parse(localStorage.getItem(save_key));
        navigator.clipboard.writeText(btoa(JSON.stringify(data)));
        alert("Save copied to clipboard!")
    }

    // function to upload a savegame into local storage
    function restoreLocalStorageSave(i, overwrite = false) {
        if (overwrite && !window.confirm("Do you want to overwrite your save by restoring the current save?")) {
            return;
        }

        let save_input = document.getElementById(`file_${i}`);
        let save_string = atob(save_input.value);
        try {
            JSON.parse(save_string);
        } catch (e) {
            alert("The given string is not a valid save!")
            return;
        }
        console.log("Restore save: ", i);
        localStorage.setItem(`save${i}`, save_string);
        htmx.trigger(save_input, "localsaverestored");
    }
</script>
<div class="description">
    <div>
    This is the Import/Export menu. Select a savegame slot from below. 
    <br><br>
    Click Restore: To import a local save into the selected slot. Can overwrite an existing save.
    <br>
    Click Download: To export the game in the selected slot as a local download. 
    <br>
    </div>
</div>
<div class="save-list-container" style="margin: auto;">
<div class="save-list">
    <% for (let i = (locals.page ? page : 0)*10; i < (locals.page ? page+1 : 1)*10; i++) { %>
        <div class="save-entry">
            <span style="flex-grow: 1;">Slot <%= i %></span>
            <input type="text"
                id="file_<%= i %>"
                hx-post
                hx-trigger="localsaverestored"
                hx-ext="submitlocalstorage"
                hx-target="#content"
                hx-swap="innerHTML"
            />
            <label 
                class="save-file-input"
                for="file_<%= i %>"
                style="flex-grow: 1;"
                onclick="restoreLocalStorageSave(<%= i %>,
                <% if (saveData[`save${i}`]) { %> <%= true %> <% } else { %> <%= false %> <% }%>)"
            >
                <%= savesRestoreText %>
            </label>
            <% if (saveData[`save${i}`]) { %>
                <button 
                    style="flex-grow: 1;"
                    onclick="downloadLocalStorageSave('save<%= i %>')"
                > 
                    <%= savesDownloadText %>
                </button>
                <span class="save-name-label" style="flex-grow: 1;"><%= saveData[`save${i}`].name %></span>
            <% } %>
        </div>
    <% }; %>
</div>
</div>
<div style="display:none">
    <h2 id="header" hx-swap-oob="true">
        Import/Export Menu
    </h2>
</div>
<div class="pagination">
    <button 
        hx-post="/local_saves/0"
        hx-target="#content"
        hx-swap="innerHTML"
        hx-push-url="true"
        hx-ext="submitlocalstorage"
    ><</button>
    <% for (let j = 0; j < 5; j++) { %>
        <button 
            hx-post="/local_saves/<%= j%>"
            hx-target="#content"
            hx-swap="innerHTML"
            hx-push-url="true"
            hx-ext="submitlocalstorage"
        >
            <%= j + 1 %>
        </button>
    <% }; %>
    <button 
        hx-post="/local_saves/4"
        hx-target="#content"
        hx-swap="innerHTML"
        hx-push-url="true"
        hx-ext="submitlocalstorage"
    >></button>
</div>
<div class="response">
    <button
        hx-get="/"
        hx-target="#content"
        hx-swap="innerHTML"
        hx-push-url="true"
    > 
        <%= savesReturnToGameText %>
    </button>
</div>
