<% for (setVariable of scene.setVariables) {%>
     <script> storeItem("<%= setVariable.name %>",<%= setVariable.value %>) </script>
<% }; %>

<% if (scene.checkpoint) { %>
    <div class='stat_success'>
        <%= mainCheckpointReachedText %>
    </div>
<% } %>

<% scene.statChecks.forEach(function(statCheck) { if (statCheck.success) {%>
    <div class='stat_success'>
        [ <%= statCheck.variable %> check successful - level <%= statCheck.value %>  ]
    </div>
<% } else { %>
    <div class='stat_fail'>
        <% if (statCheck.variable === "v_b3_ch1_unlock") { %>
            <% if (v_current_scene != "B3-Ch01a-Crossbow") { %>
                [ Stat device locked - check failed ]
            <% } %>
        <% } else { %>
            [ <%= statCheck.variable %> check failed - level <%= statCheck.value %>  ]
        <% } %>
    </div>
<% }}); %>

<% for (paragraph of scene.paragraphs) { %>
    <%- paragraph.text %>
<% }; %>

<% for (choice of scene.choices) {%>
    <div class="response">
        <button
        onClick="setResponseCookies(<%= JSON.stringify(choice) %>)"
        <% if (!choice.special) { %>
            hx-get="/"
        <% } else if (choice.special=="stats") { %>
            hx-get="/stats"
            hx-push-url="true"
        <% } else if (choice.special === "checkpoint_load") { %>
            hx-get="/"
            hx-on::before-request="loadGameFromLocalStorage('checkpoint')"
        <% } else if (choice.special=="checkpoint_save") { %>
            hx-get="/"
            hx-on::before-request="saveGameToLocalStorage('checkpoint')"
        <% } else if (choice.special=="restart") { %>
            hx-get="/"
            hx-on::before-request="clearState()"
        <% } else if (choice.special === "saves") { %>
            hx-post="/saves/0"
            hx-ext="submitlocalstorage"
            hx-push-url="true"
        <% } %>
            hx-target="#content"
            hx-swap="innerHTML"
        >
                <%= choice.text %>
        </button>
    </div>
<% }; %>
<% for (achievement of scene.achievements) {%>
    <div
    class="achievement-modal"
    _="on load show with visibility then wait 2s then transition *opacity to 0 over 250ms then remove me end
       on click remove me end">
       <div class="achievement-modal-columns">
            <img class="trophy-image" src="/images/achievement_trophy.png" />
            <div class="achievement-modal-content">
                <div class="achievement-modal-title">
                    <%= mainAchievementUnlockedText %>
                </div>
                <div class="achievement-modal-caption">
                  <%= achievement.text %>
                </div>
            </div>
      </div>
<% }; %>
</div>
<div style="display:none">
    <h2 id="header" hx-swap-oob="true">
        <%= header %>
    </h2>
</div>
