<% for (setVariable of scene.setVariables) {%>
     <script> storeVariable("<%= setVariable.name %>","<%= setVariable.value %>") </script>
<% }; %>

<% if (scene.checkpoint) { %>
    <div class='stat_success'>
        <%= mainCheckpointReachedText %>
    </div>
<% } %>

<% scene.statChecks.forEach(function(statCheck) { if (statCheck.success) {%>
    <div class='stat_success'>
       <%= ejs.render(mainStatSuccessTemplate,{"variable": statCheck.variable, "value": statCheck.value}) %> 
    </div>
<% } else { %>
    <div class='stat_fail'>
        <% if (statCheck.variable === "v_b3_ch1_unlock") { %>
            <% if (v_current_scene != "B3-Ch01a-Crossbow") { %>
                <%= mainStatDeviceLockedText %>
            <% } %>
        <% } else { %>
           <%= ejs.render(mainStatFailedTemplate,{"variable": statCheck.variable, "value": statCheck.value}) %> 
        <% } %>
    </div>
<% }}); %>

<% for (paragraph of scene.paragraphs) { %>
    <%- paragraph.text %>
<% }; %>

<% for (choice of scene.choices) {%>
    <div class="response">
        <button
        onClick="setResponseVariables(<%= JSON.stringify(choice) %>)"
        <% if (!choice.special) { %>
            hx-post="/"
            hx-ext="submitcurrentstate"
        <% } else if (choice.special=="stats") { %>
            hx-post="/stats"
            hx-ext="submitcurrentstate"
            hx-push-url="true"
        <% } else if (choice.special === "checkpoint_load") { %>
            hx-post="/"
            hx-ext="submitcurrentstate"
            hx-on::before-request="loadGameFromLocalStorage('checkpoint')"
        <% } else if (choice.special=="checkpoint_save") { %>
            hx-post="/"
            hx-ext="submitcurrentstate"
            hx-on::before-request="saveGameToLocalStorage('checkpoint')"
        <% } else if (choice.special=="restart") { %>
            hx-post="/"
            hx-ext="submitcurrentstate"
            hx-on::before-request="clearState()"
        <% } else if (choice.special === "saves") { %>
            hx-post="/saves/0"
            hx-ext="submitlocalstorage"
            hx-push-url="true"
        <% } %>
            hx-target="#content"
            hx-swap="innerHTML"
        >
                <%= choice.text %>
        </button>
    </div>
<% }; %>
<% for (achievement of scene.achievements) {%>
    <script> storeVariable("<%= achievement.variable %>","2") </script>
    <div
    class="achievement-modal"
    _="on load show with visibility then wait 2s then transition *opacity to 0 over 250ms then remove me end
       on click remove me end">
       <div class="achievement-modal-columns">
            <img class="trophy-image" src="/images/achievement_trophy.png" />
            <div class="achievement-modal-content">
                <div class="achievement-modal-title">
                    <%= mainAchievementUnlockedText %>
                </div>
                <div class="achievement-modal-caption">
                  <%= achievement.text %>
                </div>
            </div>
      </div>
<% }; %>
</div>
<div style="display:none">
    <h2 class="header-title" id="header" hx-swap-oob="true">
        <%- header %>
    </h2>
</div>
