<div class="main-menu">
    <div class="response">
        <button
            hx-post="/"
            hx-ext="submitcurrentstate"
            hx-target="#content"
            hx-swap="innerHTML"
            hx-push-url="true"
        > 
            <%= menuBackToGameText %>
        </button>
    </div>
    <div class="response">
        <button
            hx-post="/"
            hx-ext="submitcurrentstate"
            hx-on::before-request="clearState()"
            hx-target="#content"
            hx-swap="innerHTML"
            hx-push-url="true"
        > 
            <%= menuNewGameText %>
        </button>
    </div>
    <div class="response">
        <button
            hx-post="/"
            hx-ext="submitcurrentstate"
            hx-on::before-request="loadGameFromLocalStorage('checkpoint')"
            hx-target="#content"
            hx-swap="innerHTML"
            hx-push-url="true"
        > 
            <%= menuLoadCheckpointText %>
        </button>
    </div>
    <div class="response">
        <button
            hx-post="/saves/0"
            hx-target="#content"
            hx-swap="innerHTML"
            hx-push-url="true"
            hx-ext="submitlocalstorage"
        > 
            <%= menuSaveLoadText %>
        </button>
    </div>
    <div class="response">
        <button
            hx-get="/achievements"
            hx-target="#content"
            hx-swap="innerHTML"
            hx-push-url="true"
        > 
            <%= menuAchievementsText %>
        </button>
    </div>
    <div class="response">
        <button
            hx-get="/settings"
            hx-target="#content"
            hx-swap="innerHTML"
            hx-push-url="true"
        > 
            <%= menuSettingsText %>
        </button>
    </div>
    <div class="response">
        <button
            hx-get="/about"
            hx-target="#content"
            hx-swap="innerHTML"
            hx-push-url="true"
        > 
            <%= menuAboutText %>
        </button>
    </div>
</div>
<div style="display:none">
    <h2 id="header" hx-swap-oob="true">
        <%= menuHeaderText %>
    </h2>
</div>
