<script>
    function renameLocalStorageSave(save_key, save_name_id) {
        console.log("Renaming save", save_key);
        let save_name = document.getElementById(save_name_id).value;

        let data = JSON.parse(localStorage.getItem(save_key));
        data['name'] = save_name;
        localStorage.setItem(save_key, JSON.stringify(data));
    }

    document.addEventListener("localsaverestored", () => {
            console.log("The Local Save Restoration has been initiated.");
            });

    function downloadLocalStorageSave(save_key) {
        let data = JSON.parse(localStorage.getItem(save_key));
        navigator.clipboard.writeText(btoa(JSON.stringify(data)));
        alert("Save copied to clipboard!")
    }

    // function to upload a savegame into local storage
    function restoreLocalStorageSave(i, overwrite = false) {
        if (overwrite && !window.confirm("Do you want to overwrite your save by restoring the current save?")) {
            return;
        }

        let save_input = document.getElementById(`file_${i}`);
        let save_string = atob(save_input.value);
        try {
            JSON.parse(save_string);
        } catch (e) {
            alert("The given string is not a valid save!")
                return;
        }
        console.log("Restore save: ", i);
        localStorage.setItem(`save${i}`, save_string);
        htmx.trigger(save_input, "localsaverestored");
    }

</script>
<div class="description">
    <div>
        <%- savesExplanationText %>
    </div>
</div>
<div class="save-list-container" style="margin: auto;">
<div class="save-list">
    <% for (let i = (locals.page ? page : 0)*10; i < (locals.page ? page+1 : 1)*10; i++) { %>
        <div class="save-entry">
            <span style="flex-grow: 1;">Slot <%= i %></span>
            <button 
            style="flex-grow: 1;"
            hx-on::before-request="saveGameToLocalStorage('save<%= i %>', 
            <% if (saveData[`save${i}`]) { %> <%= true %> <% } else { %> <%= false %> <% }%>)"
            hx-post
            hx-ext="submitlocalstorage"
            hx-target="#content"
            hx-swap="innerHTML"> 
                <%= savesSaveText %>
            </button>
            <% if (saveData[`save${i}`]) { %>
                <button 
                    style="flex-grow: 1;"
                    hx-get="/"
                    hx-on::before-request="loadGameFromLocalStorage('save<%= i %>')"
                    hx-target="#content"
                    hx-swap="innerHTML"
                    hx-push-url="true"
                > 
                    <%= savesLoadText %>
                </button>
            <% }; %>
            <label 
                class="save-file-input"
                for="file_<%= i %>"
                style="flex-grow: 1;"
                _="on click show save<%= i %>Modal with visibility"
            >
                <%= savesImportText %>
            </label>
            <% if (saveData[`save${i}`]) { %>
                <button 
                    style="flex-grow: 1;"
                    onclick="downloadLocalStorageSave('save<%= i %>')"
                > 
                    <%= savesExportText %>
                </button>
                <input class="save-name-input" style="flex-grow: 1;" type="text" 
                id="save_name_<%= i %>"
                value="<%= saveData[`save${i}`].name %>"
                hx-on::before-request="renameLocalStorageSave('save<%= i %>', 'save_name_<%= i %>')"
                hx-trigger='blur'
                hx-post
                hx-ext="submitlocalstorage"
                hx-target="#content"
                hx-swap="innerHTML"
                >
            <% } %>
        </div>
    <div id="save<%= i %>Modal" class="save-modal-content" _="on closeModal hide with visibility">
        <div class="saves-modal-text">
            <%- savesModalText %>
        </div>
        <input type="text"
            id="file_<%= i %>"
            class="save-modal-input"
            hx-post
            hx-trigger="localsaverestored"
            hx-ext="submitlocalstorage"
            hx-target="#content"
            hx-swap="innerHTML"
        />
        <div class="save-modal-buttons">
            <button 
                for="file_<%= i %>"
                _="on click restoreLocalStorageSave(<%= i %>,
                <% if (saveData[`save${i}`]) { %> <%= true %> <% } else { %> <%= false %> <% }%>) then trigger closeModal"
            >
                <%= savesImportText %>
            </button>
            <button _="on click trigger closeModal">
                <%= savesImportCancelText %>
            </button>
        </div>
    </div>
    <% }; %>
</div>
</div>
<div style="display:none">
    <h2 id="header" hx-swap-oob="true">
        <%= savesHeaderText %>
    </h2>
</div>
<!--The number of pages is hard-coded over here, and in the above ejs code for save-list. 
Same hard-coding is done in the backend-->
<div class="pagination">
    <button 
        hx-post="/saves/0"
        hx-target="#content"
        hx-swap="innerHTML"
        hx-push-url="true"
        hx-ext="submitlocalstorage"
    ><</button>
    <% for (let j = 0; j < 5; j++) { %>
        <button 
            hx-post="/saves/<%= j%>"
            hx-target="#content"
            hx-swap="innerHTML"
            hx-push-url="true"
            hx-ext="submitlocalstorage"
        >
            <%= j + 1 %>
        </button>
    <% }; %>
    <button 
        hx-post="/saves/4"
        hx-target="#content"
        hx-swap="innerHTML"
        hx-push-url="true"
        hx-ext="submitlocalstorage"
    >></button>
</div>
<div class="response">
    <button
        hx-get="/"
        hx-target="#content"
        hx-swap="innerHTML"
        hx-push-url="true"
    > 
        <%= savesReturnToGameText %>
    </button>
</div>
