<script>
    function renameLocalStorageSave(save_key, save_name_id) {
        console.log("Renaming save", save_key);
        let save_name = document.getElementById(save_name_id).value;

        let data = JSON.parse(localStorage.getItem(save_key));
        data['name'] = save_name;
        localStorage.setItem(save_key, JSON.stringify(data));
    }
</script>
<div class="description">
    <div>
    Select a savegame slot from below. 
    <br><br>
    To save or load your game: 
    <br>
    To change the save names:
    <br>
    To overwrite a save: 
    </div>
</div>
<div class="save-list-container" style="margin: auto;">
<div class="save-list">
    <% for (let i = (locals.page ? page : 0)*10; i < (locals.page ? page+1 : 1)*10; i++) { %>
        <div class="save-entry">
            <span style="flex-grow: 1;">Slot <%= i %></span>
            <button 
            style="flex-grow: 1;"
            hx-on::before-request="saveGameToLocalStorage('save<%= i %>', 
            <% if (saveData[`save${i}`]) { %> <%= true %> <% } else { %> <%= false %> <% }%>)"
            hx-post
            hx-ext="submitlocalstorage"
            hx-target="#content"
            hx-swap="innerHTML"> 
                Save
            </button>
            <% if (saveData[`save${i}`]) { %>
                <button 
                    style="flex-grow: 1;"
                    hx-get="/"
                    hx-on::before-request="loadGameFromLocalStorage('save<%= i %>')"
                    hx-target="#content"
                    hx-swap="innerHTML"
                    hx-push-url="true"
                > 
                    Load
                </button>
                <!-- <% console.log(locals) %> -->
                <input class="save-name-input" style="flex-grow: 1;" type="text" 
                id="save_name_<%= i %>"
                value="<%= saveData[`save${i}`].name %>"
                hx-on::before-request="renameLocalStorageSave('save<%= i %>', 'save_name_<%= i %>')"
                hx-trigger='blur'
                hx-post
                hx-ext="submitlocalstorage"
                hx-target="#content"
                hx-swap="innerHTML"
                >
            <% } %>
        </div>
    <% }; %>
</div>
</div>
<div style="display:none">
    <h2 id="header" hx-swap-oob="true">
        SAVE/LOAD MENU
    </h2>
</div>
<!--The number of pages is hard-coded over here, and in the above ejs code for save-list. 
Same hard-coding is done in the backend-->
<div class="pagination">
    <button 
        hx-post="/saves/0"
        hx-target="#content"
        hx-swap="innerHTML"
        hx-push-url="true"
        hx-ext="submitlocalstorage"
    ><</button>
    <% for (let j = 0; j < 5; j++) { %>
        <button 
            hx-post="/saves/<%= j%>"
            hx-target="#content"
            hx-swap="innerHTML"
            hx-push-url="true"
            hx-ext="submitlocalstorage"
        >
            <%= j + 1 %>
        </button>
    <% }; %>
    <button 
        hx-post="/saves/4"
        hx-target="#content"
        hx-swap="innerHTML"
        hx-push-url="true"
        hx-ext="submitlocalstorage"
    >></button>
</div>
<div class="response">
    <button
        hx-post="/"
        hx-target="#content"
        hx-swap="innerHTML"
        hx-push-url="true"
    > 
        Return to game
    </button>
</div>
