<script src="/scripts/night_mode.js"></script>
<div class="main-menu">
    <div class="response">
        <button
            hx-get="/language"
            hx-target="#content"
            hx-swap="innerHTML"
            hx-push-url="true"
        > 
            <%= settingsLanguageText %>
        </button>
    </div>
    <div class="response">
        <button id="themeToggleBtn" onclick="nightModeButtonClick()">
            <%= settingsNightModeActivateText %>
        </button>
    </div>
    <div class="response">
        <button
           _="on click show #cheatModeModal with visibility"
        >
            <%= settingsCheatModeText %>
        </button>
    </div>
    <div id="cheatModeModal" class="cheatmode-modal-content" _="on closeModal hide with visibility">
        <div>
            <%- settingsCheatModeModalText %>
        </div>
            <button class="cheatmode-modal-yes" _="on click cookieAdd('v_available_points',50) trigger closeModal"><%= localeYes %></button>
        <br>
            <button class="cheatmode-modal-no" _="on click trigger closeModal"><%= localeNo %></button>
    </div>
    <div class="response">
        <button
            hx-get="/menu"
            hx-target="#content"
            hx-swap="innerHTML"
            hx-push-url="true"
        > 
            <%= settingsBackToMenuText %>
        </button>
    </div>
</div>
<div style="display:none">
    <h2 id="header" hx-swap-oob="true">
        <%= settingsHeaderText %>
    </h2>
</div>
